.About_us {
	display: block;
}

.member {
	display: block;
}

.member .line {
	border: solid 2px;
	position: relative;
	top: 108px;
	margin-left: 50px;
}

.member img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	border: solid 4px;
}

.member .name {
	display: inline-block;
	position: relative;
	bottom: 16px;
	font-size: 64px;
}

.member .about {
	position: flex;
	margin-left: 100px;
}

.member .kosenNs {
	display: inline-block;
	margin: 0 0 0 auto;
}

.member .twitter {
	display: inline-block;
}

@media (prefers-color-scheme: dark) {
	.About_us {
		color: white;
	}

	.member {
		color: white;
	}
}

@media screen and (max-width: 700px) {
	.member img {
		width: 50px;
		height: 50px;
	}

	.member .line {
		top: 58px;
		margin-left: 25px;
	}

	.member .name {
		font-size: 40px;
		bottom: 12px;
	}

	.member .about {
		margin-left: 50px;
	}
}

@media screen and (max-width: 760px) {
	.member .name {
		font-size: 56px;
	}
}

@media screen and (max-width: 630px) {
	.member .name {
		font-size: 48px;
	}
}

@media screen and (max-width: 550px) {
	.member .name {
		font-size: 40px;
	}
}

@media screen and (max-width: 575px) {
	.member .name {
		font-size: 34px;
	}
}

@media screen and (max-width: 410px) {
	.member .name {
		font-size: 32px;
	}
}

@media screen and (max-width: 390px) {
	.member .name {
		font-size: 30px;
	}
}

@media screen and (max-width: 370px) {
	.member .name {
		font-size: 28px;
	}
}

@media screen and (max-width: 355px) {
	.member .name {
		font-size: 25px;
	}
}

@media screen and (max-width: 319px) {
	.member .name {
		font-size: 24px;
	}
}

@media screen and (max-width: 1600px) {
	.twitter {
		display: none;
	}
}
