footer {
	position: revert;
	padding: 0;
	bottom: 0;
	width: 100%;
	height: 32px;
	vertical-align: middle;
	text-align: center;
	background-color: #444;
	z-index: 98;
}

.copywrite {
	font-weight: bold;
	color: #d4adf4;
}

@media (prefers-color-scheme: dark) {
	footer {
		background-color: black;
	}
}
